
<%= link_to "Electronic/House", playlists_search_path(:id => 'PLhM36HkgFAEapoyxesBgNGTEtZLjy66eD'), :class => "playlist-link", :remote => true %>
&nbsp;&nbsp;&nbsp;
<%= link_to "Pop/Top 40", playlists_search_path(:id => 'PLhM36HkgFAEbz26ztdP_ePVXUMqix_sVt'), :class => "playlist-link", :remote => true %>
&nbsp;&nbsp;&nbsp;
<%= link_to "Hip-hop", playlists_search_path(:id => 'PLhM36HkgFAEYRfbClC6JlJTWcsgK-pOAy'), :class => "playlist-link", :remote => true %>
&nbsp;&nbsp;&nbsp;
<span style="display: inline;"><a href="javascript:void(0);" data-dropdown="playlistmenu">Other playlists</a></span>

<ul id="playlistmenu" class="f-dropdown" data-dropdown-content>
  <% @playlists.each do |p| %>
  <li><%= link_to p.name, playlists_search_path(:id => p.ytid), :class => "playlist-link", :remote => true %></li>
  <% end %>
</ul>