
<%= form_tag( {:controller => "playlists", :action => "search"}, :method => "get", :remote => true) do %>
<!-- 		<%= label_tag(:id, "Enter Youtube Playlist ID:") %> -->
	
  	<div class="large-8 columns">
      	<div class="row collapse">
        	<div class="small-9 columns">
          	<%= text_field_tag(:id, nil, placeholder: 'Enter a YouTube playlist ID to search for.' ) %>
        	</div>
        	<div class="small-3 columns">
    			<%= submit_tag("Find playlist", :class => "button postfix") %> 

  			</div>
  		</div>
  	</div>
<% end %> 