<div class="row">
	<div class="large-12 columns">
		<h2>Power Hour</h2>
		<p>Click the video to begin!</p>
		<ul class="button-group radius">
			<li><a href="javascript:pauseVideo()" class="button radius">Pause</a></li>
			<li><a href="javascript:resumeVideo()" class="button radius">Play</a></li>
		</ul>

		<%= render 'search' %>

		<hr />

		<%= render 'player' %>

	</div>

</div>