<div class="row">
	<div class="large-12 columns">
		<h2>Power Hour</h2>
		<p>Click the video to begin!</p>
		<hr />

		<div class="flex-video">
      		<div id="player">
      		</div>
 		</div>
                 
     <!-- <div id="player2">
        <iframe width="420" height="315" src="http://www.youtube.com/embed/9otNWTHOJi8?autoplay=1" frameborder="0" allowfullscreen></iframe> 
      </div>--> 

	</div>

</div>


<script type="text/javascript">
	var playlist = <%= raw @playlist %>;
	//var videoIDs = [
	//     '9bZkp7q19f0',
	//     'QK8mJJJvaes',
	//     'RnpyRe_7jZA'
	// ];

	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

	var player;

	function onYouTubeIframeAPIReady() {

	    player = new YT.Player('player', {
	        height: '315',
	        width: '420',
	        videoId: '',
	        events: {
	            'onReady': onPlayerReady,
	            'onStateChange': onPlayerStateChange
	        }
	    });
	    
	}

	function onPlayerReady(event) {
	    //event.target.playVideo();
	    event.target.loadPlaylist(playlist, 0, 60, "default");

	}

	//play video for 60 seconds
	var done = false;
	function onPlayerStateChange(event) {
	    done = false;
	    if (player.getPlaylistIndex() != 0)
	    	player.seekTo(91, true);

	    if (event.data == YT.PlayerState.PLAYING && !done) {
	        setTimeout(nextVideo, 60000);
	        done = true;
	    }
	}

	function nextVideo() {
	    player.nextVideo();

	}
</script>

<h3><%= @playlist %></h3>