<div id="placeholder">
	<h2> Get your drinks ready! </h2>
	<h3> Take a shot of beer every time the song changes. </h3>
	<p> Click start to begin <b><%= @playlistTitle %></b>. </p>
	<a href="javascript:startVideo()" class="large button round">Start</a>
</div>